@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$samplasion: #c44040;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $samplasion;
$link: $samplasion;

$footer-padding: 3rem 1.5rem 3rem;

$bump-duration: 3.5s;
$bump-distance: 15px;
$rotation-duration: $bump-duration * 2;
$rotation-radius: 5deg;

$incline-radius: 5deg;
$incline-duration: .5s;

.is-horizontal-center {
  justify-content: center;
}

#avatar-icon {
  &.bump {
    animation: bump $bump-duration ease-in-out infinite;
  }
  &.ondulate {
    animation: ondulate $rotation-duration ease-in-out infinite;
  }
  &.both {
    animation: bump $bump-duration ease-in-out infinite, ondulate $rotation-duration ease-in-out infinite;
  }
}

@keyframes bump {
  0% {
    margin-top: 0px;
    margin-bottom: $bump-distance;
  }
  50% {
    margin-top: $bump-distance;
    margin-bottom: 0px;
  }
  100% {
    margin-top: 0px;
    margin-bottom: $bump-distance;
  }
}

@keyframes ondulate {
  0% {
    transform: rotateZ(-$rotation-radius);
  }
  50% {
    transform: rotateZ($rotation-radius);
  }
  100% {
    transform: rotateZ(-$rotation-radius);
  }
}

.incline-cw {
    transform: rotateZ(0);
    transition: transform $incline-duration ease;

    &:hover {
        transform: rotateZ($incline-radius);
    }
}

.incline-ccw {
    transform: rotateZ(0);
    transition: transform $incline-duration ease;

    &:hover {
        transform: rotateZ(-$incline-radius);
    }
}

a {
    transition: text-shadow $incline-duration ease;
    
    &:hover {
        text-shadow: #030303 0rem 0.3rem 0.5rem;
    }
}

// Import only what you need from Bulma
@import "./bulma.sass";